.logo-img {
    width: 130px;
}

.nav-link {
    color: #000000!important;
}

.w-85 {
    width: 85%;
}

.nav-link:hover, .nav-link.show  {
    color: #bf5142 !important; 
}

.dropdown-item {
    color: #000000 !important;
}

.dropdown-item:hover, .dropdown-item.show {
    color: #bf5142 !important; 
}

video {
    height: 580px;
    width: 100%;
}

.contenido {
    max-width: 300px;
    bottom: 20%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.header {
    width: 100%;
    z-index: 1;
}

.mostrar-mobile {
    display: none;
}

.ocultar-mobile {
    display: block;
}

.imagen-banner{
    width: 100%;
    object-fit: contain;   
}

.card-primero:before
{
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    display: block;
    position: absolute;
    opacity: 0.4;
}

.card-img { 
    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 0;
    object-fit: cover;
}

.card-img-overlay {
    justify-content: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    display: flex;
}

.reconocimiento-dos{
    background: #000;
}

.img-five{
    width: 35%;
}

.btn{
    width: 75%;
}

.btn-minimo{
    width: 60%;
    margin: 0 auto;
}

.container-header{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.container-cards{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;    
} 

.container-compra{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container-finca{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container-pie {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


.footer-link{
    border-bottom: 2px solid #000;
    padding-bottom: 15px;
}

.bi-go { 
    display: inline-block;
    width: 50px;
    font-size: 30px;
}

.border {
    width: 100%;
}

.d-block{
    height: 500px;
}
 
@media (max-width: 990px) {
    .ocultar-mobile { 
        display: none;
    }
    .mostrar-mobile { 
        display: block;
    }
    .contenido .text-white-mobile {
       color: #ffffff !important;  
    }    
}







